## Escuela Colombiana de Ingeniería Julio Garavito

### Programming for Data Analysis

### Author

Juan Pablo Sánchez Bermúdez

In [96]:
# Imports
import pandas as pd

# Hepatitis Data Set

### 1. Selecting Data Set
I chose the Hepatitis data set from the UC Irvine Machine Learning Repository [Hepatitis](https://archive.ics.uci.edu/ml/machine-learning-databases/hepatitis/).

### 2. Loading data
Now that I have the data set, let's proceed to download it and load it into this notebook in a DataFrame type variable:

In [97]:
# Data set url
path = 'https://archive.ics.uci.edu/ml/machine-learning-databases/hepatitis/hepatitis.data'

# Set columns names to the data set according to hepatitis.names
columnsNames = ['State', 'Age', 'Sex', 'Steroid', 'Antivirals', 'Fatigue', 'Malaise', 'Anorexia', 'Liver Big', 'Liver Firm', 'Spleen Palpable', 'Spiders', 'Ascites', 'Varices', 'Bilirubin', 'Alk Phosphate', 'Sgot', 'Albumin', 'Protime', 'Histology']

# Read data from CSV file
dataFrame = pd.read_csv(path, names = columnsNames)
dataFrame.head()

,State,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,Liver Big,Liver Firm,Spleen Palpable,Spiders,Ascites,Varices,Bilirubin,Alk Phosphate,Sgot,Albumin,Protime,Histology
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,?,1
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
3,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1

According to the data set, ```1``` means 'No' and ```2``` means 'Yes', except for the **State column** which ```1``` means 'Dead' and ```2``` means 'Alive' and for the **Sex Column** which ```1``` means 'Male' and ```2``` means 'Female'.

### 3. Data Transformation and Discretization

The following function takes the data frame created above and normalize its columns according to the argument the user choose between ```standar``` or ```scale```.

In [98]:
def normalization(argument):
    if argument.lower() == "standar":
        print("well")
    elif argument.lower() == "scale":
        print("Well")
    else:
        print("dsfsf")

In [99]:
normalization("standar")
print("-----------------")
normalization("scale")

well
-----------------
Well

### 4. Cleaning and manipulating data

#### Exploring the Hepatitis data set

+ Complete records

In [100]:
def completeRecords(df):
    size = df.shape
    rows = size[0]
    columns = size[1]
    records = 0
    status = True
    for row in range(rows):
        for column in range(columns):
            if df.iloc[row, column] == '?':
                status = False
                break
        if status:
            records += 1
        status = True
    return records

In [101]:
print("Number of complete records in Hepatitis data set:", completeRecords(dataFrame))

Number of complete records in Hepatitis data set: 80

+ Missing data

In [114]:
def missingData(df):
    size = df.shape
    rows = size[0]
    columns = size[1]
    missing = 0
    for row in range(rows):
        for column in range(columns):
            if df.iloc[row, column] == '?':
                missing += 1
    return missing

In [115]:
print("Number of missing values in Hepatitis data set:", missingData(dataFrame))

Number of missing values in Hepatitis data set: 167

+ Data types of the dataset

In [104]:
dataFrame.dtypes

State               int64
Age                 int64
Sex                 int64
Steroid            object
Antivirals          int64
Fatigue            object
Malaise            object
Anorexia           object
Liver Big          object
Liver Firm         object
Spleen Palpable    object
Spiders            object
Ascites            object
Varices            object
Bilirubin          object
Alk Phosphate      object
Sgot               object
Albumin            object
Protime            object
Histology           int64
dtype: object

+ Statistical description of some metrics for the dataset variables

In [105]:
dataFrame.describe()

            State         Age         Sex  Antivirals   Histology
count  155.000000  155.000000  155.000000  155.000000  155.000000
mean     1.793548   41.200000    1.103226    1.845161    1.451613
std      0.406070   12.565878    0.305240    0.362923    0.499266
min      1.000000    7.000000    1.000000    1.000000    1.000000
25%      2.000000   32.000000    1.000000    2.000000    1.000000
50%      2.000000   39.000000    1.000000    2.000000    1.000000
75%      2.000000   50.000000    1.000000    2.000000    2.000000
max      2.000000   78.000000    2.000000    2.000000    2.000000

In [111]:
# Number of patients who died from hepatitis
dataFrame[dataFrame.State == 1].shape[0]

32

In [113]:
# Number of patients who are male
dataFrame[dataFrame.Sex == 1].shape[0]

139

#### Knowing that there is missing data according to the ```missingData(df)``` function and each attribute is numeric, I will replace the missing values (?) using a global constant 0 to represent 'Unknown'